<html>
    <head>
        <title>The Gossip Project</title>
    </head>
    <body>
        <h1>PAGE POTINS</h1>

        <!-- Souhaiter la bienvenu aux visiteurs -->
        <h2>Bienvenue très cher! <br/>Voici le potin n°<%= id %>.</h2>

        <!-- Afficher un gossip  -->
        <p>Son auteur : <%= gossip.author %></p>
        <p>Le contenu : <%= gossip.content %> </p>

        <!-- Lien pour retourner à la page d'accueil -->
        <a href="/">Retourner à la page d'accueil</a>
    </body>
</html>